<!DOCTYPE html>
<!--
To change this template/simple, choose Tools | template/simples
and open the template/simple in the editor.
-->
<html>
    <head>
        <title></title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="./css/styl.css" type="text/css" />
        <link rel="stylesheet" href="./css/podmioty.css" type="text/css" />
        <script src='./star-rating/jquery.js' type="text/javascript"></script>
        <script src='./star-rating/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
        <script src='./star-rating/jquery.rating.js' type="text/javascript" language="javascript"></script>
        <link href='./star-rating/jquery.rating.css' type="text/css" rel="stylesheet"/>


    </head>
    <body>
        <div id="outer">
            <div id="inner">
                <div id="container">
               
                    <div id="center" class="center">  
                   <?php
                        require_once 'template/simple/center.html';
                        ?>
    
                    </div>
       
                    <div id="header">
                        <?php
                        require_once 'template/simple/header.html';
                        ?>
                    </div>
                    <div id="left">
                        <?php
                        require_once 'template/simple/left.html';
                        ?>
                    </div>
                    <div id="right">
                        <?php
                        require_once 'template/simple/right.html';
                        ?>
                    </div>

                    <div id="navigation">
                        <?php
                        $menuOkruszkowe = new menuWlasciwe();
                        echo $menuOkruszkowe->okruszkoweMenu(1);
                        ?>
                    </div>
                    <div id="top">
                       <a href="index.php?action=rejestracja">rejestracja</a>
                    </div>
                     <div class="end"></div>
                    <div id="bottom"> 
                        <?php
                        require_once 'template/simple/bottom.html';
                        ?>
                    </div>
                    <div id="footer">
                        <?php
                        require_once 'template/simple/footer.html';
                        ?>
                    </div>
                                        <div class="end"></div>

                </div>
                  <div class="end"></div>
            </div>
              <div class="end"></div>
        </div>
    </body>
</html>
