<nav class="container">
    <select class="mobile-only row clearfix" onchange="window.open(this.options[this.selectedIndex].value,'_top')">
        <option value="index.php?t=dashboard">Dashboard</option>
        <option value="tables.php?t=tables">Tables</option>
        <option value="forms.php?t=forms">Forms</option>
        <option value="dialogbox.php?t=dialog+boxes">Dialog Boxes</option>
        <option value="statistics.php?t=statistics">Statistics</option>
        <option value="gallery.php?t=gallery">Gallery</option>
        <option value="typography.php?t=typography">Typography</option>
        <option value="grids.php?t=grids">Grid</option>
        <option value="calendar.php?t=calendar">Calendar</option>
        <option value="icons.php?t=icons">Icons</option>
    </select>

    <ul class="sf-menu mobile-hide row clearfix">
        <li class="active iconed">
            <a href="./index_db98c802.php.html"><span><img src="template/muse/assets/images/header/icon_dashboard.png" /> Dashboard</span></a>
        </li>
        <li class=""><a href="./tables_d9c90247.php.html"><span>Tables</span></a></li>
        <li class=""><a href="./forms_bbaabe0f.php.html"><span>Forms</span></a>
            <ul>
                <li><a href="./forms_bbaabe0f.php.html"><span>Form Styles</span></a></li>
                <li><a href="./dialogbox_bbaabe0f.php.html"><span>Dialog Boxes</span></a></li>
            </ul>
        </li>
        <li class=""><a href="./statistics_ad1c029b.php.html"><span>Statistics</span></a></li>
        <li class=""><a href="./gallery_a8eb5dca.php.html"><span>Gallery</span></a></li>
        <li class=""><a href="./typography_2125c7ab.php.html"><span>Typography</span></a></li>
        <li><a href="#"><span>Superfish</span></a>
            <ul>
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 2</a>
                    <ul>
                        <li><a href="#">Option 2a</a></li>
                        <li><a href="#">Option 2b</a></li>
                        <li><a href="#">Option 2c</a></li>
                    </ul>
                </li>
                <li><a href="#">Option 3</a>
                    <ul>
                        <li><a href="#">Option 3a</a>
                            <ul>
                                <li><a href="#">Option 3aa</a></li>
                                <li><a href="#">Option 3ab</a></li>
                                <li><a href="#">Option 3ac</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Option 3b</a></li>
                        <li><a href="#">Option 3c</a></li>
                    </ul>
                </li>
                <li><a href="#">Option 4</a></li>
                <li><a href="#">Option 5</a></li>
                <li><a href="#">Option 6</a></li>
            </ul>
        </li>
        <li class=""><a href="./grids_5c4eb5f9.php.html"><span>Grid</span></a></li>
        <li class=""><a href="./calendar_23809bb7.php.html"><span>Calendar</span></a></li>
        <li class=""><a href="./icons_d065b9b9.php.html"><span>Icons</span></a></li>
    </ul>
</nav>