<div id="titlediv">
    <div class="clearfix container" id="pattern">
        <div class="row">
            <div class="col_12">
                <ul class="breadcrumbs hor-list">
                    <li>                        
                        <?php
                        $menuOkruszkowe = new menuWlasciwe(1);
                        echo $menuOkruszkowe->okruszkoweMenu(1);
                        ?>
                    </li>
                </ul>

                <?php //require_once 'funkcje/logowanie.php'; ?>
                <h1>Dashboard</h1>

            </div>
        </div>
    </div>
</div>