<?php 
$kolor = kolory::zmieniaj(1);
echo '<header class="container" style="background-color:' . $kolor . '">';
    
    ?><div class="row clearfix"> <div style="font-size: 16px; color:#FFFFFF; font-weight: bold; position: absolute; padding-top: 20px; font-family: Arial">
            UŻYTKOWNIKU! Strona jest w trakcie tworzenia i nie zapewnia pełnej funkcjonajności. Proszę Cię o wyrozumiałość.
        </div>  </div>
    <div class="row clearfix">
        <div class="left">
            <a href="./index.php" id="logo">http://przedszkola.info</a>
        </div>


      
    </div>
 
</header>
